name: deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v3
        with:
          node-version: '22'
      - uses: pnpm/action-setup@v4
        with:
          version: '9'
      - uses: astral-sh/setup-uv@v7

      - run: pnpm install
      - working-directory: api
        run: uv python install && uv sync

      - run: pnpm swa build
      - run: pnpm swa deploy --env production
        env:
          SWA_CLI_DEPLOYMENT_TOKEN: ${{ secrets.SWA_DEPLOY_TOKEN }}
